* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
}

header {
    height: 60px;
    background: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar {
    width: 350px;
    height: 48px;
    background: #fff;
    border-radius: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.color-menu {
    text-align: center;
}

.color-box {
    width: 300px;
    height: 100px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid;
    display: inline-block
}

li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
    display: inline-block;
}

.clBx {
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
    background: orangered;
}

.color-detail {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    justify-content: center;
}